/* El truco maestro para el scroll suave sin librerías */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px; /* Evita que el menú tape el título al saltar */
}
p, h2{
  align-items: center;
    text-align: center;
    font-size: 95%;
    background: linear-gradient(90deg, #faf8f8, #e398ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  
}
body {
  font-family: sans-serif;
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d14646;
}

/* Menú lateral que se queda fijo al hacer scroll (Sticky) */
.jump-menu {
  position: sticky;
  top: 20px;
  width: 250px;
  height: fit-content;
  background: #e9ade6;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ff08f3;
}

.jump-menu ul {
  list-style: none;
  padding: 0;
}

.jump-menu li {
  margin-bottom: 12px;
}

.jump-menu a {
  text-decoration: none;
  color: #e90778;
  transition: color 0.3s, font-weight 0.3s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Clase que se activará dinámicamente con JS */
.jump-menu a.active {
  color: #443e3f; /* Color característico tipo K-On! */
  font-weight: bold;
}

/* Estilo de las secciones */
.post-content {
  flex: 1;
}

.post-section {
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
}

.post-section img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin: 15px 0;
}